<li class="dropdown-submenu {{countryFilterClass}}">
    <a class="dropdown-toggle" data-toggle="dropdown">{{t "nav.appellations"}}</a>
    <ul class="dropdown-menu">
        {{#each appellations as |appellation|}}   
        <li>
            <a role="button" 
                onclick={{action 'addFilter'}} 
                class="adv-search-type" 
                data-value="{{appellation.webPath}}">
                {{appellation.name}}
            </a>
        </li>
        {{/each}}
    </ul>
</li>
