{{!-- grape-card-abstract --}}
{{#layout/card/layout-card-abstract}}

{{#link-to 'grapes.grape' data.webPath class='pull-left'}}
    {{link/grape/grape-image-link data=data}}
{{/link-to}}

<div class="media-body fnt-smaller">
    <h3 class="media-heading">
        {{#if (cond perspective '==' 'search')}}
        {{t "field.cepage"}}
        {{/if}}
        {{#link-to 'grapes.grape' data.webPath}}{{data.name}}{{/link-to}}
        <small class="pull-right">
            {{!--snippet/badge-snippet color=data.rbg value=data.colorName--}}
            {{snippet/badge-snippet 
                color=data.rbg
                value=(i18n-default (t (i18n-ref 'ref-data.color-' data.colorName)) data.colorName)
                }}
        </small>
    </h3>
    <h4>
        {{#if data.aliases}}<b>{{t "field.alias"}}</b> {{data.aliases}}<br/>{{/if}}
    </h4>
</div>
{{/layout/card/layout-card-abstract}}
