{{!-- app/templates/accounts/login.hbs --}}
{{#layout/container/layout-account-container perspective="login"}}

    <div class="tab_menu" style="border-top:0;margin:0 0 35px;font-size:20px">
        <a href="#" class="selected">{{t "action.connection"}}</a>
        <a href="{{userRegistrationUrl}}">{{t "action.self-register"}}</a>
        {{!--#link-to 'accounts.register' }}{{t "action.self-register"}}{{/link-to--}}
    </div>

{{!-- 
    <div class="social-buttons text-center">
      <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
      <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
      <a href="#" class="btn btn-gg"><i class="fa fa-google"></i> Google</a>
    </div>
    --}}
    <br/>
    <div class="form-group">
      {{input id='identification' class="form-control" placeholder=(t "field.enter-login") value=identification}}
    </div>

    <div class="form-group">
      {{input id='password' class="form-control" placeholder=(t "field.enter-password") type='password' value=password}}
    </div>
      <button type="button" class="btn-block btn btn-lg btn-success" {{action "authenticate"}} type="submit">{{t "nav.login"}}</button>

      
      {{#if errorMessage}}
      {{!-- 
        <p>{{errorMessage}}</p>
        --}}
        <p><b>{{t "sentence.you-are-not-authorized"}}</b></p>
      {{/if}}

{{/layout/container/layout-account-container}}