<li class="{{item.class}}">
    <a onclick={{action 'changeLanguage'}} id="lang-{{item.locale}}" class="lang" data-lang="{{item.locale}}" >
        <span>
        {{snippet/flag-icon flagIcon=item.flagIcon}}&nbsp;&nbsp;{{item.idiom}}
        </span>
    </a>
</li>