{{!--product-quantity-picker
{{#bs-modal open=modal onSubmit=(action "submit") onHidden=(action (mut modal) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      {{t "field.number-of-bottles"}}
    </h4>
  {{/modal.header}}
  {{#modal.body}}
 <div class="form-inline" role="form">
    <div class="row">
        <div class="form-group col-sm-12" style="font-weight: bold;">

          <span class="input-group-primary">
               {{t "field.unit-price"}} {{modalDisplayPrice}}
          </span>
          {{#if (eq modalCurrencyName "Euro")}}
              &euro;
          {{else}}
              {{modalCurrencyName}}
          {{/if}}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="form-group col-sm-12">
          <div class="input-group integer-snipper" >
            <span class="input-group-btn">
              <button class="btn btn-default" disabled={{disableDecrease}} {{action "decreaseQuantity"}}><span class="glyphicon glyphicon-minus"></span></button>
            </span>
            {{input class="form-control text-center" type="number" min="1" value=(mut modalQuantity)}}
            <span class="input-group-btn">
              <button class="btn btn-default" {{action "increaseQuantity"}}><span class="glyphicon glyphicon-plus"></span></button>
            </span>
          </div>

          <span class="input-group-primary">
              <button class="btn btn-primary" {{action "setTo" 6}}>6</button>
          </span>
          <span class="input-group-primary">
              <button class="btn btn-primary" {{action "setTo" 12}}>12</button>
          </span>
          <span class="input-group-primary">
              <button class="btn btn-primary" {{action "setTo" 18}}>18</button>
          </span>
        </div>
    </div>
  </div>
    <input type="hidden" value={{modalProductItemId}}>
    <input type="hidden" value={{modalProductId}}>
    <input type="hidden" value={{modalWineryId}}>
    <input type="hidden" value={{modalProductWebPath}}>
    <input type="hidden" value={{modalWineryWebPath}}>
    <input type="hidden" value={{modalDisplayPrice}}>
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close)}}{{t "action.cancel"}}{{/bs-button}}
    {{#bs-button type="danger" onClick=(action "delete")}}{{t "action.delete"}}{{/bs-button}}
    {{#bs-button type="success" onClick=(action modal.submit)}}{{t "action.save"}}{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
--}}