<div class="container">
    <div class="jumbotron">
        <p>The winery project provides open-data integration API for third parties.</p>
        <p>This part is under development and your feedback is welcomed!</p>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-dismissable alert-success">
                <ul>Access our public API via <a href="http://swagger.io">swagger</a> specifications at <a href="{{model.serverRootInfo}}/{{model.sitePublicApi}}">{{model.sitePublicApi}}</a></ul>
            </div>
            <div class="alert alert-dismissable alert-success">
                <ul>Try public API from a sample client <a href="{{model.serverRootInfo}}/{{model.sitePublicApiSampleClient}}">{{model.sitePublicApiSampleClient}}</a></ul>
            </div>
        </div>
    </div>
</div>
{{!-- '/data/systeminfo/public-api' --}}
